.timer,
.errors,
.accuracy {
  background-color: #ccda46;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: black 5px 8px 5px;
}
#cont {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-left: 300px;
}
.header_text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.curr_time,
.curr_errors,
.curr_accuracy {
  font-size: 2.75rem;
}
#reset {
  width: 100px;
  height: 40px;
}
